/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom background animation */
@layer utilities {
  @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .bg-animated {
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #a1c4fd, #c2e9fb);
    background-size: 400% 400%;
    animation: gradientBackground 12s ease infinite;
  }
}

